# Virtual environment
venv/

# Data files (too large for GitHub)
data/raw/
data/processed/

# Trained models (Committing these small artifacts for Streamlit deployment)
# models/

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment variables
.env

# Mac junk
.DS_Store

# MLflow
mlruns/

# Outputs (generated, not source)
outputs/*.png
outputs/*.json

# Kaggle API key
kaggle.json
